.new-expense{
    width: 620px;
    background-color: #a892ee;
    padding: 1rem;
    margin: 2rem auto;
    max-width: 80%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}
.new-expense button{
    cursor: pointer;
    height: 40px;
    width: 100px;
    border: 1px solid #40005d;
    background-color: #40005d;
    color: white;
    border-radius: 12px;
    margin-left: 18px;
}
.new-expense button:hover,
.new-expense button:active{
    background-color: #510674;
    border-color: #510674;
}